In [23]:
import open3d as o3d
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [24]:
df = pd.read_csv(".data/out/gas_illustris_342447_cut.csv", index_col=0)

In [25]:
df['volume'] = df['mass'] / df['rho']

In [26]:
df

               x          y          z           mass           rho    volume
0      -1.180393  33.829222  54.257298  109421.752279  1.189143e+05  0.920173
1      -1.596977  34.089826  53.794923   87767.745425  1.453919e+05  0.603663
2      -1.386956  33.733296  53.017417  151299.331578  1.366619e+05  1.107107
3      -1.994440  33.647608  53.058001   91647.574980  1.518111e+05  0.603695
4      -1.609248  34.015530  52.758957  119352.251297  2.176427e+05  0.548386
...          ...        ...        ...            ...           ...       ...
642243  1.046497   2.508219   0.754855   98078.916011  3.280499e+06  0.029898
642244 -1.451553  -1.702542   2.298496  153681.481843  2.245550e+05  0.684382
642245  0.545694   1.535612   1.019890  117558.235215  4.194388e+06  0.028028
642246 -0.349543   1.255493   0.629715  138616.506408  3.302689e+06  0.041971
642247  0.267881   1.241983   1.069029   82071.457966  8.792426e+06  0.009334

[642248 rows x 6 columns]

In [27]:
pcd = o3d.geometry.PointCloud()

In [28]:
pcd.points = o3d.utility.Vector3dVector(df.iloc[:,:3].values.tolist())

In [29]:
volume = df['volume'].values
volume_normalized = (volume - volume.min()) / (volume.max() - volume.min())
colors = plt.cm.plasma(volume)[:, :3]  # Use a colormap (e.g., viridis)
pcd.colors = o3d.utility.Vector3dVector(colors)

In [31]:
o3d.visualization.draw_geometries([pcd])

MESA: error: ZINK: failed to choose pdev
glx: failed to create drisw screen